# Project 1: Getting, Saving and Appending *pandas* Dataframes 
## Due: Monday, February 25, 12:15am

- [Part 1: Getting and Saving pandas Dataframes](#Part-1:-Getting-and-Saving-pandas-Dataframes) 
- [Part 2: Appending pandas Dataframes](#Part-2:-Appending-pandas-Dataframes)  
- [Part 3: Save the Appended Dataframes as pickle files](#Part-3:-Save-the-Appended-Dataframes-as-pickle-files)


- [Details](#Details)

In [1]:
import pandas as pd

# Part 1: Getting and Saving *pandas* Dataframes
Read the following **nine** data files and save each as a *pickle* file (in the same Data folder with the same name, except the file extension):  
1. [Customer.xlsx](#Customer.xlsx)
2. [Sales.csv](#Sales.csv)    
3. [The three **Geo_** .csv files](#The-Three-Geo_-csv-files)  
  1. Geo_CA     
  2. Geo_OR    
  3. Geo_WA  
4. [The three **Survey_** .csv files](#The-three-Survey-csv-files) 
  1. Survey_CA.csv
  2. Survey_OR.csv
  3. Survey_WA.csv
7. [Location Excel file](#Location-Excel-file)

### Customer.xlsx  
- Rows: 18500 
- Columns:  17

In [2]:
# Read file
file = 'Data//customer.xlsx'
df_customer = pd.read_excel(file)

# Save as pickle file
df_customer.to_pickle('./Data/customer.pkl')

In [3]:
# Read pkl file
df_customer = pd.read_pickle('./Data/customer.pkl')

# Find number of rows and columns
print("Number of rows: ", df_customer.shape[0])
print("Number of columns: ", df_customer.shape[1])
df_customer.head(2)

Number of rows:  18500
Number of columns:  17

,BusinessEntityID,Title,FirstName,LastName,Suffix,PhoneNumber,PhoneNumberType,EmailAddress,EmailPromotion,AddressType,AddressLine1,AddressLine2,City,StateProvinceName,PostalCode,CountryRegionName,Demographics
0,1699,Mr.,David,Robinett,NaN,238-555-0100,Home,david22@adventure-works.com,1,Home,Pappelallee 6667,NaN,Solingen,Nordrhein-Westfalen,42651,Germany,"<IndividualSurvey xmlns=""http://schemas.micros..."
1,1700,Ms.,Rebecca,Robinson,NaN,648-555-0100,Cell,rebecca3@adventure-works.com,0,Home,1861 Chinquapin Ct,NaN,Seaford,Victoria,3198,Australia,"<IndividualSurvey xmlns=""http://schemas.micros..."

### Sales.csv 
- Rows: 60390  
- Columns:  8

In [4]:
# Read file
file = 'Data//Sales.csv'
df_sales = pd.read_csv(file)

# Save as pickle file
df_sales.to_pickle('./Data/sales.pkl')

In [5]:
# Read pkl file
df_sales = pd.read_pickle('./Data/sales.pkl')

# Find number of rows and columns
print("Number of rows: ", df_sales.shape[0])
print("Number of columns: ", df_sales.shape[1])

# Display the top two rows of data
df_sales.head(2)

Number of rows:  60390
Number of columns:  8

,RowID,BusinessEntityID,SalesOrderNumber,SalesOrderDetail,OrderDate,Product_Desc,Product_Category,SalesAmount
0,1,14078,SO43697,353,5/31/2011 0:00,"Road-150 Red, 62",Bikes,"$5,000.00"
1,2,15519,SO43698,354,5/31/2011 0:00,"Mountain-100 Silver, 44",Bikes,"$6,000.00"

### The Three *Geo_* csv files

#### Geo_CA.csv  
- Rows: 784 
- Columns:  53

In [6]:
# Read file
file = 'Data//Geo_CA.csv'
df_ca = pd.read_csv(file)

# Save as pickle file
df_ca.to_pickle('./Data/geo_ca.pkl')

In [7]:
# Read pkl file
df_geo_ca = pd.read_pickle('./Data/geo_ca.pkl')

# Find number of rows and columns
print("Number of rows: ", df_geo_ca.shape[0])
print("Number of columns: ", df_geo_ca.shape[1])

# Display the top two rows of data
df_geo_ca.head(2)

Number of rows:  784
Number of columns:  53

,FILEID,STUSAB,SUMLEVEL,COMPONENT,LOGRECNO,US,REGION,DIVISION,STATECE,STATE,...,PCI,BLANK.3,BLANK.4,PUMA5,BLANK.5,GEOID,NAME,BTTR,BTBG,BLANK.6
0,ACSSF,CA,40,0,1,NaN,NaN,NaN,NaN,6,...,NaN,NaN,NaN,NaN,NaN,04000US06,California,NaN,NaN,NaN
1,ACSSF,CA,40,1,2,NaN,NaN,NaN,NaN,6,...,NaN,NaN,NaN,NaN,NaN,04001US06,California -- Urban,NaN,NaN,NaN

#### Geo_OR.csv  
- Rows: 90  
- Columns:  53

In [8]:
# Read file
file = 'Data//Geo_OR.csv'
df_or = pd.read_csv('Data//Geo_OR.csv')

# Save as pickle file
df_or.to_pickle('./Data/geo_or.pkl')

In [9]:
# Read pkl file
df_geo_or = pd.read_pickle('./Data/geo_or.pkl')

# Find number of rows and columns
print("Number of rows: ", df_geo_or.shape[0])
print("Number of columns: ", df_geo_or.shape[1])

# Display the top two rows of data
df_geo_or.head(2)

Number of rows:  90
Number of columns:  53

,FILEID,STUSAB,SUMLEVEL,COMPONENT,LOGRECNO,US,REGION,DIVISION,STATECE,STATE,...,PCI,BLANK.3,BLANK.4,PUMA5,BLANK.5,GEOID,NAME,BTTR,BTBG,BLANK.6
0,ACSSF,OR,40,0,1,NaN,NaN,NaN,NaN,41,...,NaN,NaN,NaN,NaN,NaN,04000US41,Oregon,NaN,NaN,NaN
1,ACSSF,OR,40,1,2,NaN,NaN,NaN,NaN,41,...,NaN,NaN,NaN,NaN,NaN,04001US41,Oregon -- Urban,NaN,NaN,NaN

#### Geo_WA.csv  
- Rows: 158 
- Columns:  53

In [10]:
# Read file
file = 'Data//Geo_WA.csv'
df_wa = pd.read_csv(file)

# Save as pickle file
df_wa.to_pickle('./Data/geo_wa.pkl')

In [11]:
# Read pkl file
df_geo_wa = pd.read_pickle('./Data/geo_wa.pkl')

# Find number of rows and columns
print("Number of rows: ", df_geo_wa.shape[0])
print("Number of columns: ", df_geo_wa.shape[1])

# Display the top two rows of data
df_geo_wa.head(2)

Number of rows:  158
Number of columns:  53

,FILEID,STUSAB,SUMLEVEL,COMPONENT,LOGRECNO,US,REGION,DIVISION,STATECE,STATE,...,PCI,BLANK.3,BLANK.4,PUMA5,BLANK.5,GEOID,NAME,BTTR,BTBG,BLANK.6
0,ACSSF,WA,40,0,1,NaN,NaN,NaN,NaN,53,...,NaN,NaN,NaN,NaN,NaN,04000US53,Washington,NaN,NaN,NaN
1,ACSSF,WA,40,1,2,NaN,NaN,NaN,NaN,53,...,NaN,NaN,NaN,NaN,NaN,04001US53,Washington -- Urban,NaN,NaN,NaN

### The three Survey csv files

#### Survey_CA.csv  
- Rows: 784  
- Columns:  204

In [12]:
# Read file
file = 'Data//Survey_CA.csv'
df_survey_ca = pd.read_csv(file)

# Save as pickle file
df_survey_ca.to_pickle('./Data/survey_ca.pkl')

In [13]:
# Read pkl file
df_survey_ca = pd.read_pickle('./Data/survey_ca.pkl')

# Find number of rows and columns
print("Number of rows: ", df_survey_ca.shape[0])
print("Number of columns: ", df_survey_ca.shape[1])

# Display the top two rows of data
df_survey_ca.head(2)

Number of rows:  784
Number of columns:  204

,FILEID,FILETYPE,STUSAB,CHARITER,SEQUENCE,LOGRECNO,HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) for Households,"HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS)% Less than $10,000","HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS)% $10,000 to $14,999","HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS)% $15,000 to $19,999",...,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) for Households,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (WHITE ALONE HOUSEHOLDER) for Households with a householder who is White alone,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (BLACK OR AFRICAN AMERICAN ALONE HOUSEHOLDER) for Households with a householder who is Black or African American alone,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (AMERICAN INDIAN AND ALASKA NATIVE ALONE HOUSEHOLDER) for Households with a householder who is American Indian and Alaska Native alone,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (ASIAN ALONE HOUSEHOLDER) for Households with a householder who is Asian alone,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE HOUSEHOLDER) for Households with a householder who is Native Hawaiian and Other Pacific Islander alone,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (SOME OTHER RACE ALONE HOUSEHOLDER) for Households with a householder who is Some other race alone,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (TWO OR MORE RACES HOUSEHOLDER) for Households with a householder who is Two or more races,"AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (WHITE ALONE, NOT HISPANIC OR LATINO HOUSEHOLDER) for Households with a householder who is White alone, not Hispanic or Latino",AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (HISPANIC OR LATINO HOUSEHOLDER) for Households with a householder who is Hispanic or Latino
0,ACSSF,20100.0,ca,0,77,1,12758648,756518,653293,580490,...,1.130000e+12,7.910000e+11,4.886584e+10,5.513403e+09,1.760000e+11,3.081739e+09,7.252486e+10,3.291341e+10,6.500000e+11,2.270000e+11
1,ACSSF,20100.0,ca,0,77,2,12101308,718076,618945,547865,...,1.070000e+12,7.400000e+11,4.838803e+10,4.768894e+09,1.740000e+11,3.004739e+09,7.106596e+10,3.187754e+10,6.030000e+11,2.210000e+11

#### Survey_OR.csv  
- Rows: 89  
- Columns:  204

In [14]:
# Read file
file = 'Data//Survey_OR.csv'
df_survey_or = pd.read_csv(file)

# Save as pickle file
df_survey_or.to_pickle('./Data/survey_or.pkl')

In [15]:
# Read pkl file
df_survey_or = pd.read_pickle('./Data/survey_or.pkl')

# Find number of rows and columns
print("Number of rows: ", df_survey_or.shape[0])
print("Number of columns: ", df_survey_or.shape[1])

# Display the top two rows of data
df_survey_or.head(2)

Number of rows:  89
Number of columns:  204

,FILEID,FILETYPE,STUSAB,CHARITER,SEQUENCE,LOGRECNO,HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) for Households,"HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS)% Less than $10,000","HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS)% $10,000 to $14,999","HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS)% $15,000 to $19,999",...,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) for Households,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (WHITE ALONE HOUSEHOLDER) for Households with a householder who is White alone,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (BLACK OR AFRICAN AMERICAN ALONE HOUSEHOLDER) for Households with a householder who is Black or African American alone,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (AMERICAN INDIAN AND ALASKA NATIVE ALONE HOUSEHOLDER) for Households with a householder who is American Indian and Alaska Native alone,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (ASIAN ALONE HOUSEHOLDER) for Households with a householder who is Asian alone,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE HOUSEHOLDER) for Households with a householder who is Native Hawaiian and Other Pacific Islander alone,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (SOME OTHER RACE ALONE HOUSEHOLDER) for Households with a householder who is Some other race alone,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (TWO OR MORE RACES HOUSEHOLDER) for Households with a householder who is Two or more races,"AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (WHITE ALONE, NOT HISPANIC OR LATINO HOUSEHOLDER) for Households with a householder who is White alone, not Hispanic or Latino",AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (HISPANIC OR LATINO HOUSEHOLDER) for Households with a householder who is Hispanic or Latino
0,ACSSF,20100.0,or,0,77,1,1535511,111366,82996,87988,...,1.060000e+11,95503587100,1.141575e+09,822117800.0,4.635943e+09,199969100.0,1.604714e+09,2.364878e+09,91356291300,6.342080e+09
1,ACSSF,20100.0,or,0,77,2,1249161,96331,67944,72887,...,8.600454e+10,76101489600,1.105256e+09,602503500.0,4.479466e+09,196524100.0,1.423161e+09,2.096141e+09,72485938500,5.610202e+09

#### Survey_WA.csv  
- Rows:  158 
- Columns:  204

In [16]:
# Read file
file = 'Data//Survey_WA.csv'
df_survey_wa = pd.read_csv(file)

# Save as pickle file
df_survey_wa.to_pickle('./Data/survey_wa.pkl')

In [17]:
# Read pkl file
df_survey_wa = pd.read_pickle('./Data/survey_wa.pkl')

# Find number of rows and columns
print("Number of rows: ", df_survey_wa.shape[0])
print("Number of columns: ", df_survey_wa.shape[1])

# Display the top two rows of data
df_survey_wa.head(2)

Number of rows:  158
Number of columns:  204

,FILEID,FILETYPE,STUSAB,CHARITER,SEQUENCE,LOGRECNO,HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) for Households,"HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS)% Less than $10,000","HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS)% $10,000 to $14,999","HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS)% $15,000 to $19,999",...,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) for Households,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (WHITE ALONE HOUSEHOLDER) for Households with a householder who is White alone,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (BLACK OR AFRICAN AMERICAN ALONE HOUSEHOLDER) for Households with a householder who is Black or African American alone,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (AMERICAN INDIAN AND ALASKA NATIVE ALONE HOUSEHOLDER) for Households with a householder who is American Indian and Alaska Native alone,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (ASIAN ALONE HOUSEHOLDER) for Households with a householder who is Asian alone,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE HOUSEHOLDER) for Households with a householder who is Native Hawaiian and Other Pacific Islander alone,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (SOME OTHER RACE ALONE HOUSEHOLDER) for Households with a householder who is Some other race alone,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (TWO OR MORE RACES HOUSEHOLDER) for Households with a householder who is Two or more races,"AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (WHITE ALONE, NOT HISPANIC OR LATINO HOUSEHOLDER) for Households with a householder who is White alone, not Hispanic or Latino",AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (HISPANIC OR LATINO HOUSEHOLDER) for Households with a householder who is Hispanic or Latino
0,ACSSF,20100.0,wa,0,77,1,2679601,164886,109504,115903,...,2.180000e+11,1.830000e+11,5.273253e+09,1.620924e+09,1.705942e+10,768348600.0,3.675768e+09,6.132990e+09,1.750000e+11,12977868900
1,ACSSF,20100.0,wa,0,77,2,2274584,144666,93255,98627,...,1.870000e+11,1.540000e+11,5.072709e+09,1.033131e+09,1.676816e+10,740565300.0,3.295480e+09,5.572393e+09,1.470000e+11,11555104400

### Location Excel file  
- Rows: 50403  
- Columns:  24

In [18]:
# Read file
file = 'Data//Location.xlsx'
df_location = pd.read_excel(file)

# Save as pickle file
df_location.to_pickle('./Data/location.pkl')

In [19]:
# Read pkl file
df_location = pd.read_pickle('./Data/location.pkl')

# Find number of rows and columns
print("Number of rows: ", df_location.shape[0])
print("Number of columns: ", df_location.shape[1])

# Display the top two rows of data
df_location.head(2)

Number of rows:  50403
Number of columns:  24

,ZCTA5,STATE,PLACE,CLASSFP,GEOID,POPPT,HUPT,AREAPT,AREALANDPT,ZHU,...,PLAREA,PLAREALAND,ZPOPPCT,ZHUPCT,ZAREAPCT,ZAREALANDPCT,PLPOPPCT,PLHUPCT,PLAREAPCT,PLAREALANDPCT
0,601,72,358,U1,7200358,4406,1968,1942319,1942319,7744,...,1942319,1942319,23.73,25.41,1.16,1.17,100.0,100.0,100.0,100.0
1,602,72,616,U1,7200616,3212,1648,955285,955285,18073,...,955285,955285,7.74,9.12,1.14,1.20,100.0,100.0,100.0,100.0

# Part 2: Appending pandas Dataframes

### 2.1 Append the three Geo SAS Data Sets
1. Geo_CA  
2. Geo_OR  
3. Geo_WA

- Rows: 1032  
- Columns:  53

In [20]:
# Append the three Geo SAS Data Sets
df_Appended_CA_OR = df_geo_ca.append(df_geo_or, ignore_index=True)
df_Appended_CA_OR_WA = df_Appended_CA_OR.append(df_geo_wa, ignore_index=True)

# Display number of rows and columns
print("Number of rows: ", df_Appended_CA_OR_WA.shape[0])
print("Number of columns: ", df_Appended_CA_OR_WA.shape[1])

df_Appended_CA_OR_WA.head()

Number of rows:  1032
Number of columns:  53

,FILEID,STUSAB,SUMLEVEL,COMPONENT,LOGRECNO,US,REGION,DIVISION,STATECE,STATE,...,PCI,BLANK.3,BLANK.4,PUMA5,BLANK.5,GEOID,NAME,BTTR,BTBG,BLANK.6
0,ACSSF,CA,40,0,1,NaN,NaN,NaN,NaN,6,...,NaN,NaN,NaN,NaN,NaN,04000US06,California,NaN,NaN,NaN
1,ACSSF,CA,40,1,2,NaN,NaN,NaN,NaN,6,...,NaN,NaN,NaN,NaN,NaN,04001US06,California -- Urban,NaN,NaN,NaN
2,ACSSF,CA,40,43,3,NaN,NaN,NaN,NaN,6,...,NaN,NaN,NaN,NaN,NaN,04043US06,California -- Rural,NaN,NaN,NaN
3,ACSSF,CA,40,A0,4,NaN,NaN,NaN,NaN,6,...,NaN,NaN,NaN,NaN,NaN,040A0US06,California -- In metropolitan or micropolitan ...,NaN,NaN,NaN
4,ACSSF,CA,40,C0,5,NaN,NaN,NaN,NaN,6,...,NaN,NaN,NaN,NaN,NaN,040C0US06,California -- In metropolitan statistical area,NaN,NaN,NaN

### 2.2 Append the three Survey SAS Data Sets  
1. Survey_CA  
2. Survey_OR  
3. Survey_WA  


- Rows: 1031  
- Columns:  204

In [22]:
# Append the three Geo SAS Data Sets
df_Appended_Survey_CA_OR = df_survey_ca.append(df_survey_or, ignore_index=True)
df_Appended_Survey_CA_OR_WA = df_Appended_Survey_CA_OR.append(df_survey_wa, ignore_index=True)

# Display number of rows and columns
print("Number of rows: ", df_Appended_Survey_CA_OR_WA.shape[0])
print("Number of columns: ", df_Appended_Survey_CA_OR_WA.shape[1])

Number of rows:  1031
Number of columns:  204

# Part 3: Save the Appended Dataframes as *pickle* files  
1. Save the Appended Geo dataframe as a pickle file named:  Appended_CA_OR_WA.pkl
2. Save the Appended Survey dataframes as a pickle file named: Appended_Survey_CA_OR_WA.pkl
3. Test that both pickle files were created correctly:
   1. Read each of them in to a dataframe  
   2. Display the first two rows of the dataframes 
   3. Display the number of rows and columns in the dataframes

In [23]:
# Save appended dataframes as pickle files
df_Appended_CA_OR_WA.to_pickle('./Data/Appended_CA_OR_WA.pkl')
df_Appended_Survey_CA_OR_WA.to_pickle('./Data/Appended_Survey_CA_OR_WA.pkl')

In [24]:
# Display the first two rows of the dataframe
df_Appended_CA_OR_WA_test = pd.read_pickle('./Data/Appended_CA_OR_WA.pkl')
df_Appended_CA_OR_WA_test.head(2)

,FILEID,STUSAB,SUMLEVEL,COMPONENT,LOGRECNO,US,REGION,DIVISION,STATECE,STATE,...,PCI,BLANK.3,BLANK.4,PUMA5,BLANK.5,GEOID,NAME,BTTR,BTBG,BLANK.6
0,ACSSF,CA,40,0,1,NaN,NaN,NaN,NaN,6,...,NaN,NaN,NaN,NaN,NaN,04000US06,California,NaN,NaN,NaN
1,ACSSF,CA,40,1,2,NaN,NaN,NaN,NaN,6,...,NaN,NaN,NaN,NaN,NaN,04001US06,California -- Urban,NaN,NaN,NaN

In [25]:
# Display the number of rows and columns
print("Number of rows: ", df_Appended_CA_OR_WA_test.shape[0])
print("NUmber of rows: ", df_Appended_CA_OR_WA_test.shape[1])

Number of rows:  1032
NUmber of rows:  53

In [26]:
# Display the first two rows of the dataframe
df_Appended_Survey_CA_OR_WA_test = pd.read_pickle('./Data/Appended_Survey_CA_OR_WA.pkl')
df_Appended_Survey_CA_OR_WA_test.head(2)

,FILEID,FILETYPE,STUSAB,CHARITER,SEQUENCE,LOGRECNO,HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) for Households,"HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS)% Less than $10,000","HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS)% $10,000 to $14,999","HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS)% $15,000 to $19,999",...,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) for Households,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (WHITE ALONE HOUSEHOLDER) for Households with a householder who is White alone,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (BLACK OR AFRICAN AMERICAN ALONE HOUSEHOLDER) for Households with a householder who is Black or African American alone,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (AMERICAN INDIAN AND ALASKA NATIVE ALONE HOUSEHOLDER) for Households with a householder who is American Indian and Alaska Native alone,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (ASIAN ALONE HOUSEHOLDER) for Households with a householder who is Asian alone,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE HOUSEHOLDER) for Households with a householder who is Native Hawaiian and Other Pacific Islander alone,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (SOME OTHER RACE ALONE HOUSEHOLDER) for Households with a householder who is Some other race alone,AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (TWO OR MORE RACES HOUSEHOLDER) for Households with a householder who is Two or more races,"AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (WHITE ALONE, NOT HISPANIC OR LATINO HOUSEHOLDER) for Households with a householder who is White alone, not Hispanic or Latino",AGGREGATE HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 2014 INFLATION-ADJUSTED DOLLARS) (HISPANIC OR LATINO HOUSEHOLDER) for Households with a householder who is Hispanic or Latino
0,ACSSF,20100.0,ca,0,77,1,12758648,756518,653293,580490,...,1.130000e+12,7.910000e+11,4.886584e+10,5.513403e+09,1.760000e+11,3.081739e+09,7.252486e+10,3.291341e+10,6.500000e+11,2.270000e+11
1,ACSSF,20100.0,ca,0,77,2,12101308,718076,618945,547865,...,1.070000e+12,7.400000e+11,4.838803e+10,4.768894e+09,1.740000e+11,3.004739e+09,7.106596e+10,3.187754e+10,6.030000e+11,2.210000e+11

In [27]:
# Display the number of rows and columns
print("Number of rows: ", df_Appended_Survey_CA_OR_WA.shape[0])
print("Number of rows: ", df_Appended_Survey_CA_OR_WA.shape[1])

Number of rows:  1031
Number of rows:  204

# Details  
1. Replace the Question Marks above with the correct number of Rows and Columns.  (Note:  You will lose points if you fail to do this!)
  1. You need to verify the number of Rows and Columns independently from your Python code, so that you can be sure you are reading the data in correctly. Probably using Excel is the easiest way to do that. 
  3. As you verify, replace the Question Marks above with the correct numbers for Rows and Columns.
  3. Then when you run your Python code you can check to see if the numbers are correct or not.
2. All the row and column numbers must be **exactly** the same as specified to be correct!  Being off by one is the same as being off by hundreds in terms of the points you will lose. 
3. **For each of the nine datasets that you create -- as well as the appended data set -- you must include and run the code to show the number of rows, number of columns, and to display the first rows of the dataframe.**
4. If you haven't already, copy the entire Project 1 folder into your exercises repo, do Run All on your Project 1 notebook, Commit (*Proj 1 - initial commit*) and Push it all up to your GitHub repo.