In [92]:
import pandas as pd

In [93]:
df = pd.read_excel('/Users/owner/Onedrive/Desktop/personal/Data/bible_kjv.xlsx')

df.head(2)

        id  b  c  v                                                  t
0  1001001  1  1  1  In the beginning God created the heaven and th...
1  1001002  1  1  2  And the earth was without form, and void; and ...

In [94]:
df.columns

Index(['id', 'b', 'c', 'v', 't'], dtype='object')

In [95]:
df.dtypes

id     int64
b      int64
c      int64
v      int64
t     object
dtype: object

In [96]:
df['b']=pd.to_numeric(df['b']).astype(object)
df.dtypes

id     int64
b     object
c      int64
v      int64
t     object
dtype: object

In [97]:
rename_columns = {'b':'book',
                 'c':'chapter',
                 'v':'verse',
                 't':'text'}

df.rename(columns = rename_columns, inplace=True)
df.head(2)

,id,book,chapter,verse,text
0,1001001,1,1,1,In the beginning God created the heaven and th...
1,1001002,1,1,2,"And the earth was without form, and void; and ..."

In [98]:
df_books = pd.read_excel('/Users/owner/Onedrive/Desktop/personal/Data/bible_books.xlsx')

df_books.head()

   b         book
0  1      Genesis
1  2       Exodus
2  3    Leviticus
3  4      Numbers
4  5  Deuteronomy

In [99]:
df_bible = pd.merge(df_books, df, on='book', how='left')
df_bible

     b             book  id  chapter  verse text
0    1          Genesis NaN      NaN    NaN  NaN
1    2           Exodus NaN      NaN    NaN  NaN
2    3        Leviticus NaN      NaN    NaN  NaN
3    4          Numbers NaN      NaN    NaN  NaN
4    5      Deuteronomy NaN      NaN    NaN  NaN
5    6           Joshua NaN      NaN    NaN  NaN
6    7           Judges NaN      NaN    NaN  NaN
7    8             Ruth NaN      NaN    NaN  NaN
8    9         1 Samuel NaN      NaN    NaN  NaN
9   10         2 Samuel NaN      NaN    NaN  NaN
10  11          1 Kings NaN      NaN    NaN  NaN
11  12          2 Kings NaN      NaN    NaN  NaN
12  13     1 Chronicles NaN      NaN    NaN  NaN
13  14     2 Chronicles NaN      NaN    NaN  NaN
14  15             Ezra NaN      NaN    NaN  NaN
15  16         Nehemiah NaN      NaN    NaN  NaN
16  17           Esther NaN      NaN    NaN  NaN
17  18              Job NaN      NaN    NaN  NaN
18  19           Psalms NaN      NaN    NaN  NaN
19  20         Proverbs NaN      NaN    NaN  NaN
20  21     Ecclesiastes NaN      NaN    NaN  NaN
21  22    Song of Songs NaN      NaN    NaN  NaN
22  23           Isaiah NaN      NaN    NaN  NaN
23  24         Jeremiah NaN      NaN    NaN  NaN
24  25     Lamentations NaN      NaN    NaN  NaN
25  26          Ezekiel NaN      NaN    NaN  NaN
26  27           Daniel NaN      NaN    NaN  NaN
27  28            Hosea NaN      NaN    NaN  NaN
28  29             Joel NaN      NaN    NaN  NaN
29  30             Amos NaN      NaN    NaN  NaN
..  ..              ...  ..      ...    ...  ...
36  37           Haggai NaN      NaN    NaN  NaN
37  38        Zechariah NaN      NaN    NaN  NaN
38  39          Malachi NaN      NaN    NaN  NaN
39  40          Matthew NaN      NaN    NaN  NaN
40  41             Mark NaN      NaN    NaN  NaN
41  42             Luke NaN      NaN    NaN  NaN
42  43             John NaN      NaN    NaN  NaN
43  44             Acts NaN      NaN    NaN  NaN
44  45           Romans NaN      NaN    NaN  NaN
45  46    1 Corinthians NaN      NaN    NaN  NaN
46  47    2 Corinthians NaN      NaN    NaN  NaN
47  48        Galatians NaN      NaN    NaN  NaN
48  49        Ephesians NaN      NaN    NaN  NaN
49  50      Philippians NaN      NaN    NaN  NaN
50  51       Colossians NaN      NaN    NaN  NaN
51  52  1 Thessalonians NaN      NaN    NaN  NaN
52  53  2 Thessalonians NaN      NaN    NaN  NaN
53  54        1 Timothy NaN      NaN    NaN  NaN
54  55        2 Timothy NaN      NaN    NaN  NaN
55  56            Titus NaN      NaN    NaN  NaN
56  57         Philemon NaN      NaN    NaN  NaN
57  58          Hebrews NaN      NaN    NaN  NaN
58  59            James NaN      NaN    NaN  NaN
59  60          1 Peter NaN      NaN    NaN  NaN
60  61          2 Peter NaN      NaN    NaN  NaN
61  62           1 John NaN      NaN    NaN  NaN
62  63           2 John NaN      NaN    NaN  NaN
63  64           3 John NaN      NaN    NaN  NaN
64  65             Jude NaN      NaN    NaN  NaN
65  66       Revelation NaN      NaN    NaN  NaN

[66 rows x 6 columns]

In [100]:
df_bible.dtypes

b            int64
book        object
id         float64
chapter    float64
verse      float64
text        object
dtype: object