In [78]:
import pandas as pd
import numpy as np
import openpyxl
import xlsxwriter

In [79]:
df = pd.read_excel('TableauData_NC_Health_Section_WIP.xlsx', worksheet='Health')
df.head()

,GeoArea_FIPS,GeoArea_Name,Economic_Measure_Code,Economic_Measure_Name,Measure_Name,Data_Period_Business_Key,Estimated_Value,Unit_of_Measure_Code
0,37001,Alamance,CDC_CNTY_DI01,Drug Induced Cases by Crude Rate,Asian or Pacific Islander,1999,NaN,Crude Rate
1,37001,Alamance,CDC_CNTY_DI01,Drug Induced Cases by Crude Rate,Black or African American,1999,NaN,Crude Rate
2,37001,Alamance,CDC_CNTY_DI01,Drug Induced Cases by Crude Rate,White,1999,NaN,Crude Rate
3,37001,Alamance,CDC_CNTY_DI01,Drug Induced Cases by Crude Rate,American Indian or Alaska Native,2000,NaN,Crude Rate
4,37001,Alamance,CDC_CNTY_DI01,Drug Induced Cases by Crude Rate,Asian or Pacific Islander,2000,NaN,Crude Rate

In [80]:
df1 = pd.read_excel('GeoFIPS_Codes.xlsx')
df1.head()

  GeoArea_Name  GeoArea_FIPS
0     Alamance         37001
1    Alexander         37003
2    Alleghany         37005
3        Anson         37007
4         Ashe         37009

In [81]:
df1.dtypes

GeoArea_Name    object
GeoArea_FIPS     int64
dtype: object

In [82]:
df_m = pd.merge(df, df1, how='left', on=['GeoArea_Name'])
df_m.head()

,GeoArea_FIPS_x,GeoArea_Name,Economic_Measure_Code,Economic_Measure_Name,Measure_Name,Data_Period_Business_Key,Estimated_Value,Unit_of_Measure_Code,GeoArea_FIPS_y
0,37001,Alamance,CDC_CNTY_DI01,Drug Induced Cases by Crude Rate,Asian or Pacific Islander,1999,NaN,Crude Rate,37001.0
1,37001,Alamance,CDC_CNTY_DI01,Drug Induced Cases by Crude Rate,Black or African American,1999,NaN,Crude Rate,37001.0
2,37001,Alamance,CDC_CNTY_DI01,Drug Induced Cases by Crude Rate,White,1999,NaN,Crude Rate,37001.0
3,37001,Alamance,CDC_CNTY_DI01,Drug Induced Cases by Crude Rate,American Indian or Alaska Native,2000,NaN,Crude Rate,37001.0
4,37001,Alamance,CDC_CNTY_DI01,Drug Induced Cases by Crude Rate,Asian or Pacific Islander,2000,NaN,Crude Rate,37001.0

In [83]:
df_m.dtypes

GeoArea_FIPS_x                int64
GeoArea_Name                 object
Economic_Measure_Code        object
Economic_Measure_Name        object
Measure_Name                 object
Data_Period_Business_Key     object
Estimated_Value              object
Unit_of_Measure_Code         object
GeoArea_FIPS_y              float64
dtype: object

In [84]:
df_m.rename(columns={'GeoArea_FIPS_x':'GeoArea_FIPS'}, inplace = True)
df_m.head(2)

,GeoArea_FIPS,GeoArea_Name,Economic_Measure_Code,Economic_Measure_Name,Measure_Name,Data_Period_Business_Key,Estimated_Value,Unit_of_Measure_Code,GeoArea_FIPS_y
0,37001,Alamance,CDC_CNTY_DI01,Drug Induced Cases by Crude Rate,Asian or Pacific Islander,1999,NaN,Crude Rate,37001.0
1,37001,Alamance,CDC_CNTY_DI01,Drug Induced Cases by Crude Rate,Black or African American,1999,NaN,Crude Rate,37001.0

In [85]:
columns = ['GeoArea_FIPS','GeoArea_Name', 'Economic_Measure_Code', 'Economic_Measure_Name',
       'Measure_Name', 'Data_Period_Business_Key', 'Estimated_Value',
       'Unit_of_Measure_Code']

df_m = df_m[columns]
df_m.tail(2)

,GeoArea_FIPS,GeoArea_Name,Economic_Measure_Code,Economic_Measure_Name,Measure_Name,Data_Period_Business_Key,Estimated_Value,Unit_of_Measure_Code
95234,37199,Yancey,NCDH_CNTY_OP02,Number of Emergency Medical Servies administer...,NaN,2019Q3,NaN,Count
95235,37199,Yancey,NCDH_CNTY_OP02,Number of Emergency Medical Servies administer...,NaN,2019Q4,NaN,Count

In [86]:
df_m['GeoArea_FIPS'] = df_m['GeoArea_FIPS'].fillna(0).astype(np.int64)

In [87]:
df_m.set_index(df_m['GeoArea_FIPS'], inplace = True)
df_m.head(2)

,GeoArea_FIPS,GeoArea_Name,Economic_Measure_Code,Economic_Measure_Name,Measure_Name,Data_Period_Business_Key,Estimated_Value,Unit_of_Measure_Code
GeoArea_FIPS,,,,,,,,
37001,37001,Alamance,CDC_CNTY_DI01,Drug Induced Cases by Crude Rate,Asian or Pacific Islander,1999,NaN,Crude Rate
37001,37001,Alamance,CDC_CNTY_DI01,Drug Induced Cases by Crude Rate,Black or African American,1999,NaN,Crude Rate

In [88]:
df_m.drop('GeoArea_FIPS', axis = 1, inplace = True)
df_m.head(2)

,GeoArea_Name,Economic_Measure_Code,Economic_Measure_Name,Measure_Name,Data_Period_Business_Key,Estimated_Value,Unit_of_Measure_Code
GeoArea_FIPS,,,,,,,
37001,Alamance,CDC_CNTY_DI01,Drug Induced Cases by Crude Rate,Asian or Pacific Islander,1999,NaN,Crude Rate
37001,Alamance,CDC_CNTY_DI01,Drug Induced Cases by Crude Rate,Black or African American,1999,NaN,Crude Rate

In [90]:
df_m.to_excel('TableauData_NC_Health_Section_WIP.xlsx', engine='xlsxwriter')