In [18]:
import pandas as pd

In [19]:
# Create Backups
#df_backup = pd.read_csv('', encoding = 'ISO-8859-1', sep='\t')
#df_backup.to_csv('')

# United States

In [20]:
# Load data
df_nc_1 = pd.read_csv('../Data/PEP_2018_PEPAGESEX_with_ann_us.csv')
df_nc_1.head()

,GEO.id,GEO.id2,GEO.display-label,cen42010sex0_age999,cen42010sex1_age999,cen42010sex2_age999,est42010sex0_age999,est42010sex1_age999,est42010sex2_age999,est72010sex0_age999,...,est72015sex2_medage,est72016sex0_medage,est72016sex1_medage,est72016sex2_medage,est72017sex0_medage,est72017sex1_medage,est72017sex2_medage,est72018sex0_medage,est72018sex1_medage,est72018sex2_medage
0,0100000US,NaN,United States,308745538,151781326,156964212,308758105,151788777,156969328,309326085,...,39.1,37.9,36.6,39.2,38.0,36.8,39.4,38.2,36.9,39.5

In [21]:
df_nc_2 = pd.read_csv('../Data/PEP_2018_PEPSR6H_with_ann_us.csv')
df_nc_2.head()

,Year.id,Year.display-label,Sex.id,Sex.display-label,Hisp.id,Hisp.display-label,GEO.id,GEO.id2,GEO.display-label,totpop,wa,ba,ia,aa,na,tom
0,cen42010,"April 1, 2010 Census",female,Female,hisp,Hispanic,0100000US,NaN,United States,24858794,21936806,1191984,702309,249346,85203,693146
1,cen42010,"April 1, 2010 Census",female,Female,nhisp,Not Hispanic,0100000US,NaN,United States,132105418,100301335,19853611,1147502,7691693,246518,2864759
2,cen42010,"April 1, 2010 Census",female,Female,tothisp,Total,0100000US,NaN,United States,156964212,122238141,21045595,1849811,7941039,331721,3557905
3,cen42010,"April 1, 2010 Census",male,Male,hisp,Hispanic,0100000US,NaN,United States,25618800,22681299,1136129,773939,248654,92206,686573
4,cen42010,"April 1, 2010 Census",male,Male,nhisp,Not Hispanic,0100000US,NaN,United States,126162526,97017621,18068911,1115756,6969823,250698,2739717

# North Carolina

In [22]:
df_us_1 = pd.read_csv('../Data/PEP_2018_PEPAGESEX_with_ann_nc.csv')
df_us_1.head()

,GeoArea_FIPS,GeoArea_Name,"April 1, 2010 - Census - Both Sexes; Total","April 1, 2010 - Census - Male; Total","April 1, 2010 - Census - Female; Total","April 1, 2010 - Estimates Base - Both Sexes; Total","April 1, 2010 - Estimates Base - Male; Total","April 1, 2010 - Estimates Base - Female; Total",Population Estimate (as of July 1) - 2010 - Both Sexes; Total,Population Estimate (as of July 1) - 2010 - Male; Total,...,Population Estimate (as of July 1) - 2015 - Female; Median age (years),Population Estimate (as of July 1) - 2016 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2016 - Male; Median age (years),Population Estimate (as of July 1) - 2016 - Female; Median age (years),Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2017 - Male; Median age (years),Population Estimate (as of July 1) - 2017 - Female; Median age (years),Population Estimate (as of July 1) - 2018 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2018 - Male; Median age (years),Population Estimate (as of July 1) - 2018 - Female; Median age (years)
0,37,North Carolina,9535483,4645492,4889991,9535736,4645610,4890126,9574293,4670084,...,39.9,38.6,37,40,38.7,37.2,40.2,38.9,37.4,40.4

In [23]:
df_us_2 = pd.read_csv('../Data/PEP_2018_PEPSR6H_with_ann_nc.csv')
df_us_2.head()

,Id,Year,Id.1,Sex,Id.2,Hispanic Origin,Id.3,Id2,Geography,Total,Race Alone - White,Race Alone - Black or African American,Race Alone - American Indian and Alaska Native,Race Alone - Asian,Race Alone - Native Hawaiian and Other Pacific Islander,Two or More Races
0,cen42010,"April 1, 2010 Census",female,Female,hisp,Hispanic,0400000US37,37,North Carolina,372385,306402,30519,17301,3066,2188,12909
1,cen42010,"April 1, 2010 Census",female,Female,nhisp,Not Hispanic,0400000US37,37,North Carolina,4517606,3193471,1078687,56405,109311,2699,77033
2,cen42010,"April 1, 2010 Census",female,Female,tothisp,Total,0400000US37,37,North Carolina,4889991,3499873,1109206,73706,112377,4887,89942
3,cen42010,"April 1, 2010 Census",male,Male,hisp,Hispanic,0400000US37,37,North Carolina,427735,356225,31125,20917,3494,2677,13297
4,cen42010,"April 1, 2010 Census",male,Male,nhisp,Not Hispanic,0400000US37,37,North Carolina,4217757,3042198,948031,52943,100081,2745,71759

# Counties

In [24]:
df_co_1 = pd.read_csv('../Data/PEP_2018_PEPAGESEX_with_ann_county.csv')
df_co_1.head()

,GEO.id,GEO.id2,GEO.display-label,cen42010sex0_age999,cen42010sex1_age999,cen42010sex2_age999,est42010sex0_age999,est42010sex1_age999,est42010sex2_age999,est72010sex0_age999,...,est72015sex2_medage,est72016sex0_medage,est72016sex1_medage,est72016sex2_medage,est72017sex0_medage,est72017sex1_medage,est72017sex2_medage,est72018sex0_medage,est72018sex1_medage,est72018sex2_medage
0,0500000US37001,37001,"Alamance County, North Carolina",151131,71890,79241,151160,71906,79254,151440,...,41.1,39.4,37.9,40.7,39.3,37.8,40.7,39.3,37.8,40.6
1,0500000US37003,37003,"Alexander County, North Carolina",37198,18824,18374,37185,18819,18366,37235,...,44.8,43.6,42.2,45.2,43.9,42.3,45.5,44.1,42.4,45.8
2,0500000US37005,37005,"Alleghany County, North Carolina",11155,5532,5623,11154,5532,5622,11139,...,50.8,49.8,48.4,51.2,50.1,48.6,51.6,50.5,48.9,51.9
3,0500000US37007,37007,"Anson County, North Carolina",26948,14015,12933,26929,14007,12922,26852,...,43.8,41.0,38.8,44.0,41.1,38.8,44.3,41.2,38.8,44.5
4,0500000US37009,37009,"Ashe County, North Carolina",27281,13489,13792,27240,13463,13777,27228,...,49.4,48.3,46.8,49.9,48.8,47.3,50.4,49.0,47.6,50.7

In [25]:
df_co_2 = pd.read_csv('../Data/PEP_2018_PEPSR6H_with_ann_county.csv')
df_co_2.head()

,Year.id,Year.display-label,Sex.id,Sex.display-label,Hisp.id,Hisp.display-label,GEO.id,GEO.id2,GEO.display-label,totpop,wa,ba,ia,aa,na,tom
0,cen42010,"April 1, 2010 Census",female,Female,hisp,Hispanic,0500000US37001,37001,"Alamance County, North Carolina",8116,6600,423,736,36,27,294
1,cen42010,"April 1, 2010 Census",female,Female,nhisp,Not Hispanic,0500000US37001,37001,"Alamance County, North Carolina",71125,53553,15185,290,989,26,1082
2,cen42010,"April 1, 2010 Census",female,Female,tothisp,Total,0500000US37001,37001,"Alamance County, North Carolina",79241,60153,15608,1026,1025,53,1376
3,cen42010,"April 1, 2010 Census",male,Male,hisp,Hispanic,0500000US37001,37001,"Alamance County, North Carolina",8523,6969,425,782,41,17,289
4,cen42010,"April 1, 2010 Census",male,Male,nhisp,Not Hispanic,0500000US37001,37001,"Alamance County, North Carolina",63367,48320,12893,259,859,30,1006